
@font-face {
    font-family: 'mont_regular';
    src: url('fonts/montserrat/Montserrat-Regular.otf');
    font-weight: normal;
    font-style: normal; 

}

@font-face {
    font-family: 'mont_light';
    src: url('fonts/montserrat/Montserrat-Light.otf');
    font-weight: normal;
    font-style: normal; 
}
 
